﻿@{
    ViewBag.Title = "About";
}
<h2>Стоматологическая клиника № 1</h2>

<p>Стоматологическая клиника в Москве оказывает широкий спектр стоматологических услуг: 
    лечение зубов с различной степенью разрушения включая лечение корневых каналов; протезирование зубов, 
    в котором мы поможем Вам в выборе тех или иных видов зубных протезов; отбеливание зубов. 
    К вашим услугам полный спектр хирургической стоматологии, от удаления зубов до имплантации, 
    мы так же проводим консультации по гигиене полости рта и профилактике кариеса. 
    Наша стоматологическая клиника расположена в Северном административном округе (САО), 
    не далеко от центра Москвы, в трех минутах ходьбы от станции метро "Беговая" и в пятнадцати минутах от станции метро "Динамо". 
    Вы также сможете дойти до нас от станции метро "Улица 1905 года".</p>
