﻿@{
    ViewBag.Title = "Contact";
}
<h2>Контактная информация</h2>

<address>
    125284, г. Москва<br />
    ул. Беговая, д. 4 офис 57.<br />
    телефон: 123456789
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ignat@mail.com">Support@example.com</a><br />
    <strong>Suggestions:</strong> <a href="mailto:stam@google.com">Marketing@example.com</a>
</address>